annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
emoji==2.11.0
fastapi==0.115.12
filelock==3.18.0
fsspec==2025.5.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.4
idna==3.10
numpy==2.2.6
packaging==25.0
phonenumbers==9.0.5
prompt_toolkit==3.0.51
pydantic==2.11.4
pydantic_core==2.33.2
PyYAML==6.0.2
questionary==2.1.0
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
sentencepiece==0.2.0
sniffio==1.3.1
sqlparse==0.5.3
starlette==0.46.2
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.52.2
truecallerpy==1.0.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
wcwidth==0.2.13
whitenoise==6.9.0
